
#box{
    width:400px;
    margin:0 auto;
}

.single_sound{
    height:80px;
    width:400px;
    padding:10px;
    margin: 10px auto;
    text-align:center;
    border-style: solid;
    border-color: black;
}

#play_all{
    height:80px;
    width:500px;
    padding:10px;
    margin: 10px auto;
    text-align:center;
    border-style: solid;
    border-color: black;
    background-color:gray;
}

.nemo_img {
   margin:0 auto;
   background:url('/static/images/nemo.png');
   height:50px;
   width:50px;
   background-size: contain;
}​
